@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.game-box {
  position: relative;
  margin: auto;
  width: 550px;
  height: 500px;
  border: 10px solid #2A8E02;
  background-color: #c7f9cc;
}

.current-score-box {
  position: relative;
  margin: auto;
  width: 20%;
  height: 500px;
  border: 3px solid white;
  background-color: white;
}

.high-score-box {
  position: relative;
  margin: auto;
  width: 20%;
  height: 500px;
  border: 3px solid white;
  background-color: white;
}

.row {
  justify-content: space-between;
  margin-top: 10%;
  width: 100%;
}

.main-title {
  text-align: center;
  margin: 30px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}

.snake-piece {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid white;
  border-radius: 25px;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid black;
  border-radius: 50px;
}

.food img {
  position: absolute;
  width: 10px;
  height: 10px;
}

.container {
  width: 100%;
  max-width: none;
}

body {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 0%, rgba(2,164,0,1) 67%, rgba(0,88,2,1) 100%) !important;
}

.bg-primary {
  background-color: darkgreen !important;
}

.currentScore {
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
}

h3 {
  font-family: 'Press Start 2P', cursive;
}

.sign-in-text {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-family: 'Press Start 2P', cursive;
}

.form-input {
  margin: 15px 0;
  height: 45px;
}

.submit-button {
  height: 45px;
  border-radius: 35px;
  width: 210px;
  margin: 20px 30%;
  font-weight: 400;
  border: 2px solid #fff;
  background-color: transparent;
  letter-spacing: 2px;
  align-self: center;
}

.submit-button:hover {
  background-color: darkgreen;
  border: none;
}

.reset-button {
  height: 45px;
  border-radius: 35px;
  width: 180px;
  font-weight: 400;
  border: 2px solid darkgreen;
  background-color: transparent;
  letter-spacing: 2px;
  align-self: center;
  color: darkgreen;
  font-size: 10px;
  margin: 80px 15% 0;
  font-family: 'Press Start 2P', cursive;
}

.reset-button:hover {
  background-color: darkgreen;
  border: none;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-header, .start-game-text {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.start-game-text {
    line-height: 50px;
    margin: 35% 0;
}

h1 {
  text-align: center;
  font-size: 72px;
  margin-top: 50%;
}
// tree color 99621E
// grass color c7f9cc
// snake colors 03071E, D00000, FAA307
